@import url("https://fonts.googleapis.com/css?family=Montserrat");

.modal-header{
    background-color: #e7ecb5;
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    font-family: "Montserrat";
}
.modal-body{
    justify-content: center;
    display: flex;
    text-transform: uppercase;
    font-family: "Montserrat";
}