<app-navbar></app-navbar>

<div class="list-group list-group-horizontal about">
    <div class="about_info">
        <h1>HELLO THERE!</h1>
        <h2>I'M KAREN CAVADINI</h2>
        <h3>Let me tell you something about me</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, veritatis repellat. Voluptatibus nisi eligendi minus, velit reiciendis quia veniam tenetur dicta mollitia sequi recusandae odio aliquid aut iure? Natus, porro.</p>
    </div>
    <div class="about_img">
        <img class="karen" src="https://instagram.faep9-2.fna.fbcdn.net/v/t51.2885-15/e35/117750792_170831897843562_8610098065193275996_n.jpg?tp=1&amp;_nc_ht=instagram.faep9-2.fna.fbcdn.net&amp;_nc_cat=106&amp;_nc_ohc=e4YlZugX9GMAX82DXDk&amp;ccb=7-4&amp;oh=eb6b3d7eff619dde3735fe845350b915&amp;oe=60875594&amp;_nc_sid=83d603" alt="">
    </div>
</div>


<app-footer></app-footer>