@import url("https://fonts.googleapis.com/css?family=Montserrat");

.general_navbar {
  background-color: #e7ecb5;
  text-align: center;
  padding: 1vw;
  justify-content: center;
  display: flex;
  height: 15vh;
  ul {
    padding: 2vw;
    font-family: "Montserrat";
    list-style-type: none;
    overflow: hidden;
    a {
      opacity: 1;
    }
    a:hover {
      opacity: 0.5;
    }
    li {
      float: left;
    }
    li a {
      background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
      text-transform: uppercase;
      background-size: cover;
      color: transparent;
      text-align: center;
      text-decoration: none;
      padding: 16px;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      line-height: 1;
      font-size: 2vw;
    }
  }
}
