<div class="general_navbar">
    <nav>
        <ul class="list-group list-group-horizontal">
            <li><a href="">Home</a></li>
            <li><a class="gallery" routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
            <li><a class="about" routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a class="reservation" routerLink="/reservation" routerLinkActive="active">Reservation</a></li>
            <li><a class="contact" routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
    </nav>
</div>

